In [143]:

'''
Regexes:
Regex CURP supes estricto
[A-Z]{4}(\d\d)(0[1-9]|1[0-2])(0[1-9]|[1-2]\d|3[0-1])(H|M)[A-Z]{6}\d

Regex CURP estricto
[A-Z]+[0-9]{2}[0-1][0-9][0-3][0-9][A-Z]+[0-9]

Regex CURP
[A-Z0-9]{18}
[A-Z]+[0-9]+[A-Z]+[0-9]

Regex telefono
\+5255\d{8}

Regex correos
[a-z0-9]+_?[a-z0-9]+@(gmail|dominio).com
'''

'\nRegexes:\nRegex CURP supes estricto\n[A-Z]{4}(\\d\\d)(0[1-9]|1[0-2])(0[1-9]|[1-2]\\d|3[0-1])(H|M)[A-Z]{6}\\d\n\nRegex CURP estricto\n[A-Z]+[0-9]{2}[0-1][0-9][0-3][0-9][A-Z]+[0-9]\n\nRegex CURP\n[A-Z0-9]{18}\n[A-Z]+[0-9]+[A-Z]+[0-9]\n\nRegex telefono\n\\+5255\\d{8}\n\nRegex correos\n[a-z0-9]+_?[a-z0-9]+@(gmail|dominio).com\n'

In [144]:
texto = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie orci ac 
nulla luctus sagittis. In mattis mattis posuere. Nunc felis nisl, faucibus ut nunc 
non, maximus porta sem. Nulla hendrerit tortor nec pretium dignissim. 
In non dictum augue, id tincidunt dolor. Proin blandit justo eu augue ornare, sit 
amet tempus tellus interdum. Quisque fermentum nulla ut fringilla lacinia. Quisque
 lobortis bibendum ullamcorper. Sed volutpat id dui nec elementum. Nullam cursus tellus 
 massa, at tempus magna pretium id. Nullam vitae efficitur lorem. Morbi ultricies diam metus,
   eget ultricies est dictum sit amet.
+525511002299
Maecenas tempus finibus accumsan. In vel diam sem. Vivamus lobortis neque tortor, 
non eleifend est dictum ac. Sed semper, neque at ultricies placerat, dolor mauris pretium 
felis, vel vulputate nisl lacus et erat. Nullam nulla turpis, lobortis in libero
vel, semper venenatis leo. Donec sed lorem quis nunc aliquam accumsan. Cras nec 
consectetur nulla, a porttitor mauris. Suspendisse id est id risus gravida pharetra.
Pellentesque blandit tellus in tempor dictum. Nunc egestas eu nulla nec finibus.
+525566774433
Mauris malesuada est a ipsum finibus, at vehicula est vulputate. Quisque tincidunt
consectetur felis. Etiam auctor urna urna, non ornare augue venenatis et. 
Vestibulum porta nisl non egestas vulputate. 
11/12/2011
Curabitur gravida, urna sed viverra
finibus, lectus ex tincidunt erat, vitae eleifend enim orci vel augue. 
Curabitur eu egestas turpis, vel pharetra turpis. Aenean condimentum tincidunt 
02/02/1995
gravida. Sed sit amet dui nec erat euismod tristique. Morbi tempor, eros at blandit 
scelerisque, nulla enim ornare metus, non ornare mi ex ut quam. Donec cursus sapien sit
amet nunc condimentum, quis sollicitudin magna viverra. Curabitur non nisl eros. Aliquam
et sagittis sem. Etiam rhoncus malesuada metus, at sollicitudin elit vestibulum in.
Vivamus vel dignissim tellus, quis venenatis magna.
'''

In [145]:
import re
import pandas as pd

In [146]:
numeros = re.findall(r'\+5255\d{8}', texto)
numeros

['+525511002299', '+525566774433']

In [147]:
fechas = re.findall(r'(\d{2})/(\d{2})/(\d{4})', texto)
fechas

[('11', '12', '2011'), ('02', '02', '1995')]

In [148]:
datos = {
    'id':['AAA123','QWE321'],
    'texto': ['+525544773388 Hola, mi numero es +525511223344, banana +525544773388', 'Hablale al +525500998877 y despues al +525511223344'],
    'numero': [2,3]
}

df = pd.DataFrame(datos)
df

       id                                              texto  numero
0  AAA123  +525544773388 Hola, mi numero es +525511223344...       2
1  QWE321  Hablale al +525500998877 y despues al +5255112...       3

In [149]:
def fraseCuadrados(celda):
    return f"El cuadrado de {celda} es {celda**2}"

In [150]:
fraseCuadrados(3)

'El cuadrado de 3 es 9'

In [151]:
from tqdm import tqdm

tqdm.pandas()

In [152]:
df['Columna nueva'] = df['numero'].progress_apply(fraseCuadrados)

100%|██████████| 2/2 [00:00<00:00, 1998.24it/s]

In [153]:
df

,id,texto,numero,Columna nueva
0,AAA123,"+525544773388 Hola, mi numero es +525511223344...",2,El cuadrado de 2 es 4
1,QWE321,Hablale al +525500998877 y despues al +5255112...,3,El cuadrado de 3 es 9

In [154]:
#Crear una columna neuva y dentro de esas celdas, en forma de lista deben poner
#los numeros de celular encontrados
def numerosEncontrados(celda):
    return list(set(re.findall(r'\+5255\d{8}', celda)))

df['numeros encontrados'] = df['texto'].progress_apply(numerosEncontrados)

100%|██████████| 2/2 [00:00<00:00, 1993.49it/s]

In [155]:
df

,id,texto,numero,Columna nueva,numeros encontrados
0,AAA123,"+525544773388 Hola, mi numero es +525511223344...",2,El cuadrado de 2 es 4,"[+525511223344, +525544773388]"
1,QWE321,Hablale al +525500998877 y despues al +5255112...,3,El cuadrado de 3 es 9,"[+525511223344, +525500998877]"