In [86]:
import pandas as pd
import re
import tqdm
df = pd.read_csv('BankTranscripts.csv')
df

          User                                         Transcript       Date
0   ivan_rojas  Hola! Mi nombre es Ivan Rojas y me gustaria do...   11/04/23
1    laura_123  Greetings! This is Anthony Higgins. I would li...   11/04/23
2    pierre_fr  Salut! C'est Pierre Luert. Je souhaite étendre...   02/05/23
3    gita_hilb  Hallo. Das ist Frau Gretha Hildenburg. Ich möc...   20/08/23
4  hiro_tanaka  もしもし。田中さんです。 $234.56 円の購入について、クレジット カードに覚えのない請...   01/03/23
5     rob_prez  Saludos. El dia 23/01/2023 recibi un comproban...   01/03/23
6    gaby_chan  Hola. Como podria depositar $230 pesos a otra ...   01/03/23
7     pat_rick                     Uhhhh. Ahi es pizzas Castillo?  2/03/2023

In [87]:
'''
regex encontrar cantidades de dinero

'''

'\nregex encontrar cantidades de dinero\n\n'

In [88]:
tqdm.tqdm.pandas()
def money(transcript):
    money_regex = r'[\$€¥]\d+[\d,.]*'
    matches = re.findall(money_regex, transcript)
    if matches:
        matches = [match.replace(',', '') for match in matches]
        return matches
    else:
        return None

In [89]:
df['money_transcript'] = df['Transcript'].progress_apply(money)

100%|██████████| 8/8 [00:00<00:00, 8000.58it/s]

In [90]:
df

,User,Transcript,Date,money_transcript
0,ivan_rojas,Hola! Mi nombre es Ivan Rojas y me gustaria do...,11/04/23,"[$100, $200]"
1,laura_123,Greetings! This is Anthony Higgins. I would li...,11/04/23,[$45043123]
2,pierre_fr,Salut! C'est Pierre Luert. Je souhaite étendre...,02/05/23,[$32450]
3,gita_hilb,Hallo. Das ist Frau Gretha Hildenburg. Ich möc...,20/08/23,[$12000]
4,hiro_tanaka,もしもし。田中さんです。 $234.56 円の購入について、クレジット カードに覚えのない請...,01/03/23,[$234.56]
5,rob_prez,Saludos. El dia 23/01/2023 recibi un comproban...,01/03/23,"[$23280, $10000]"
6,gaby_chan,Hola. Como podria depositar $230 pesos a otra ...,01/03/23,"[$230, $500, $250.65]"
7,pat_rick,Uhhhh. Ahi es pizzas Castillo?,2/03/2023,None

In [91]:
def email(transcript):
    email_regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
    matches = re.findall(email_regex, transcript)
    if matches:
        return matches
    else:
        return None

In [92]:
df['email_transcript'] = df['Transcript'].progress_apply(email)

100%|██████████| 8/8 [00:00<?, ?it/s]

In [93]:
df

,User,Transcript,Date,money_transcript,email_transcript
0,ivan_rojas,Hola! Mi nombre es Ivan Rojas y me gustaria do...,11/04/23,"[$100, $200]","[compasdelcheems@gmail.com, compasdelcheems@gm..."
1,laura_123,Greetings! This is Anthony Higgins. I would li...,11/04/23,[$45043123],"[anthon123@gmail.com, ant_23_ony@gmail.com]"
2,pierre_fr,Salut! C'est Pierre Luert. Je souhaite étendre...,02/05/23,[$32450],[pierre_lou23@gmail.com]
3,gita_hilb,Hallo. Das ist Frau Gretha Hildenburg. Ich möc...,20/08/23,[$12000],None
4,hiro_tanaka,もしもし。田中さんです。 $234.56 円の購入について、クレジット カードに覚えのない請...,01/03/23,[$234.56],None
5,rob_prez,Saludos. El dia 23/01/2023 recibi un comproban...,01/03/23,"[$23280, $10000]",[robby23rob@gmail.com]
6,gaby_chan,Hola. Como podria depositar $230 pesos a otra ...,01/03/23,"[$230, $500, $250.65]","[laurob@gmail.com, laurob@gmail.com]"
7,pat_rick,Uhhhh. Ahi es pizzas Castillo?,2/03/2023,None,None